.fingerprint-image {
	width: 50%;	
	display: inline-block;
}

.fingerprint-info {
	width: 50%;
	display: inline-block;
	height: 100%;
	vertical-align: top;
}
	.fingerprint-info label{
		font-style: bold;
	}
	
	.fingerprint-info label:after{
		content: '\A';
		display: block;
	}