body {
    font-family: "Courier New", Courier, monospace;
	font-size: 0;
}

h1 {
	width: 35%;
    margin-left: auto;
    margin-right: auto;
	font-size: large;
}

.fingerprint-image {
	max-width: 100%;	
	display: inline-block;
	max-height: 100%;
	float: right;
}

.image-wrapper:nth-child(2) .fingerprint-image{
	float: left;
}

.image-wrapper {
	width: 45%;
	height: 100%;
	display: inline-block;
}

.fingerprint-info {
	width: 50%;
	display: inline-block;
	height: 100%;
	vertical-align: top;
}
	.fingerprint-info label{
		font-weight: bold;
	}
	
	.fingerprint-info label:after{
		content: '\A';
		display: block;
	}